.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0e1524;
  padding-top: 2rem;
}

.contentWrapper {
  width: 100%;
  max-width: 70%;
  margin: auto;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #ffffff;
}

.text {
  margin-bottom: 1rem;
  color: #ffffff;
  max-width: 800px;
}

.definitionTerm {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.subheading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.role {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

ul {
  margin-bottom: 1rem;
  color: #ffffff;
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.chatbotImage {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0.5rem;
  transition: all 0.3s ease-in-out;
  filter: brightness(100%);
}

.chatbotImage:hover {
  filter: brightness(150%);
}

@media (min-width: 1024px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .textContainer {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .imageContainer {
    align-items: center;
    margin-bottom: 0;
  }
}
